*{
	margin: 0;
	padding: 0;
}
body{
	background: #fafafa;
}
.w1200{
	width: 1200px;
	margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .w1200{
    	width: 100%;
    	margin: 0 auto;
    }
}
.w-auto{
	/* width: auto!important; */
}
.top-tips{
	color: #d61818;
	font-size: 16px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
	margin-bottom: 0;
	width: auto;
}



.header{
	overflow: hidden;
	margin-top: 25px;
	padding-bottom: 20px;
}
.hot-s-item{
	color: #999;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	border-right: 1px solid #999;
	padding: 0 6px;
	cursor: pointer;
}
.hot-s-item:last-child{
	border: none;
}
.search-box{
	width: auto;
	margin-left: 110px;
	margin-top: 24px;
}
.search-box .search-input{
	width: 400px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}
.search-box .search-btn{
	height: 36px;
	line-height: 36px;
	width: 94px;
	padding: 0;
	background: #000;
	color: #fff;
}
.search-inner{
	font-size: 0;
}
@media screen and (max-width: 600px) {
	.logo-box img{
		width: 33px;
		height: 33px;
		margin-left: 3px;
	}
	.header{
		margin-top: 40px;
		display: flex;
	}
	.search-box{
		width: auto;
		margin-left: 10px;
		margin-top: 0!important;
		flex: 1;
	}
	.search-box .search-input{
		width: auto;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.search-box .search-btn{
		height: 30px;
		line-height: 30px;
		width: 70px;
		padding: 0;
		background: #000;
		color: #fff;
	}
    .qrcode-box{
		display: none;
	}
	.hot-s{
		margin-right: 8px;
	}
}
.qrcode-box img{
	display: inline-block;
	width: 90px;
	height: 90px;
	vertical-align: middle;
}
.qrcode-box div{
	/* height: 90px; */
	vertical-align: middle;
	
}
.qrcode-box div p{
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.nav-wrapper{
	background: #f4f4f4;
}
.nav-container{
	height: 45px;
	line-height: 45px;
	overflow: hidden;
}
.nav-item{
	width: 92.3px;
	float: left;
	font-size: 14px;
	color: #333;
	text-align: center;
	cursor: pointer;
}
.nav-item.active{
	background: #000;
	color: #fff;
}
.index-swiper {
	position: relative;
	top: -1px;
}
.index-swiper .swiper-container{
	height: 470px;
}
.index-swiper .swiper-button-prev{
	left: 160px;
	transform: translateY(-50%);
	width: 50px;
	height: 120px;
	color: #fff;
	    background: rgba(0,0,0,0.3);
}

.index-swiper .swiper-button-next{
	right: 160px;
	transform: translateY(-50%);
	width: 50px;
    height: 120px;
	color: #fff;
	    background: rgba(0,0,0,0.3);
}
.index-swiper .swiper-button-prev::after,.index-swiper .swiper-button-next::after{
	font-size: 24px;
}
.index-swiper .swiper-pagination-bullet{
	background: #fff;
	opacity: 1;
}
.index-swiper .swiper-pagination-bullet-active{
	background: #ce1b1b;
}
.index-swiper .swiper-slide img{
	width: 100%;
	height: 470px;
}
/* @media screen and (max-width: 600px) {
	
} */
@media screen and (max-width: 600px) {
	.nav-container{
		height: auto;
		line-height: 45px;
		overflow: hidden;
	}
	.index-swiper {
		position: relative;
		top: 0;
	}
	.index-swiper .swiper-container{
		width: 100%;
		height: 300px;
	}
	.index-swiper .swiper-slide img{
		width: 100%;
		height: 300px;
	}
	.swiper-button-next,.swiper-button-prev{
		display: none;
	}
	.brand-title{
		padding: 0 10px;
	}
}
.brand-wrapper{
	overflow: hidden;
}
.brand-title{
	display: flex;
	margin-bottom: 50px;
	font-size: 34px;
}
.brand-title .more{
	font-size: 16px;
	cursor: pointer;
}
.line-box{
    display: flex;
    flex: 1;
    margin: 0 20px;
    align-items: center;
}
.line-box .one{
	display: inline-block;
	border-right: 1px solid #cfcfcf;
	height: 20px;
	margin-right: 5px;
	    width: 1px;
		background: #cfcfcf;
		float: left;
}
.line-box .two{
	display: inline-block;
	border-right: 1px solid #cfcfcf;
	height: 13px;
	    width: 1px;
	    background: #cfcfcf;
		float: left;
}
.line-box .three{
	display: flex;
	flex: 1;
	height: 1px;
	background: #cfcfcf;
}
.blank{
	height: 70px;
}
.brand-item{
	display: inline-block;
	width: 160px;
	height: 100px;
	margin-right: 7px;
	margin-bottom: 6px;
	background: #f7f7f7;
}
.brand-item img{
	display: inline-block;
	width: 160px;
	height: 100px;
	vertical-align: middle;
}
.hot-box{
	display: inline-block;
	width: 236px;
	height: 156px;
	float: left;
	margin-right: 4px;
}

.hot-box img{
	width: 100%;
	height: 100%;
}
.hot-box.hot-top{
	width: 476px;
	height: 156px;
}
.hot-item{
	margin-bottom: 6px;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
	.brand-list{
		font-size: 0;
	}
	.brand-item{
		display: inline-block;
		/* width: 61px; */
		height: 40px;
		/* margin-right: 7px; */
		width: 18%;
		margin-right: 1.66%;
		margin-bottom: 6px;
		background: #f7f7f7;
	}
	.brand-item:first-child{
		margin-left: 1.66%;
	}
	.brand-item:nth-child(5n+1){
		margin-left: 1.66%;
	}
	.brand-item img{
		display: inline-block;
		/* width: 61px; */
		width: 100%;
		height: 40px;
		vertical-align: middle;
	}
	.hot-box{
		width: 30%;
		margin-left: 2%;
		margin-right: 1%;
		height: 120px;
	}
	.hot-box.hot-top{
		width: 100%;
		height: 120px;
		margin: 0;
	}
	
}
.ad{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ad img{
	display: inline-block;
	width: 100%;
	height: 156px;
}

.qua-list{
	overflow: hidden;
}
.que-item{
	display: inline-block;
	width: 235px;
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	background: #fff;
}
.que-item img{
	width: 235px;
	height: 160px;
	margin-bottom: 7px;
}
.que-item .m{
	color: #de1a1a;
	font-size: 14px;
}
.que-item .m span{
	font-size: 18px;
}
.que-item .des{
	color: #333;
	font-size: 14px;
}
.que-item p{
	padding: 0 5px;
}
@media screen and (max-width: 600px) {
	.ad img{
		height: 120px;
	}
    .qua-list{
		/* display: flex; */
	}
	.que-item{
		width: 48%;
		margin: 0 1%;
	}
	.que-item img{
		width: 100%;
	}
}
.page-box{
	float: right;
	overflow: hidden;
	padding-right: 10px;
	margin-top: 20px;
}
.page-prev::after{
	font-family: swiper-icons;
	content: 'prev';
}
.page-next::after{
	font-family: swiper-icons;
	content: 'next';
}
.page-item{
	display: inline-block;
	float: left;
	width: 25px;
	height: 25px;
	background: #efefef;
	text-align: center;
	line-height: 25px;
	margin: 0 6px;
	font-size: 14px;
	cursor: pointer;
}
.page-item.active{
	background: #000;
	color: #fff;
}
.page-prev,.page-next{
	float: left;
	margin: 0 6px;
	padding-top: 2px;
	cursor: pointer;
}
.news-list{
	overflow: hidden;
}
.news-box{
	width: 370px;
	float: left;
	margin-right: 44px;
}
.news-box:last-child{
	margin-right: 0;
}
.news-top{
	position: relative;
}
.news-top .news-tips{
	width: 370px;
	position: absolute;
	bottom: 12px;
    z-index: 10;
    color: #fff;
    padding: 0 7px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-top img{
	width: 100%;
}
@media screen and (max-width: 600px) {
	.news-list{
		width: 95%;
		margin: 0 auto;
	}
	.news-box{
		width: 100%;
		margin-right: 0;
	}
	.news-top .news-tips{
		width: 100%;
	}
	
}
.new-item{
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 5px;
	font-size: 14px;
}
.new-item:last-child{
	border-bottom: none;
}
.con{
	flex: 1;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	margin-left: 8px;
	    padding-right: 25px;
}
.new-item .index{
	font-weight: bold;
}
.new-item .time{
	color: #999;
}
.blogo-box{
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.bline{
	height: 1px;
	background: #dedede;
	display: flex;
	flex: 1;
}
.blogo{
	margin: 0 30px;
}
.link-item{
	float: left;
	padding: 0 15px;
	margin-bottom: 6px;
	font-size: 14px;
	color: #999;
	border-right: 1px solid #999;
}
.link-item:last-child{
	border-right:none;
}
.link-title{
	color: #000;
	border-right:none;
}
.link-box{
	overflow: hidden;
	margin-bottom: 20px;
}
.footer{
    background: url(../img/bpic.png) no-repeat;	
	background-size: 100% 100%;
	height: 330px;
	width: 100%;
	min-width: 1200px;
}
.footer-wrapper{
	border-bottom: 1px solid #333134;
	    overflow: hidden;
}
.footer-item{
	float: left;
	margin-right: 50px;
	margin-top: 40px;
	    padding-bottom: 40px;
}
.footer-item a{
	display: block;
	color: #a4a4a4;
	margin: 10px 0;
	font-size: 14px;
}
.footer-item div{
	font-size: 18px;
	color: #fff;
	margin-bottom: 30px;
	    margin-top: 15px;
}
.footer-right{
	margin-top: 40px;
    float: right;
    width: 210px;
	height: 230px;
	text-align: center;
	background: rgba(0,0,0,0.3);
}
.footer-right img{
	margin-top: 20px;
	width: 170px;
	height: 170px;
}
.footer-right p{
	color: #fff;
	margin-top: 2px;
}
.center{
	text-align: center;
	font-size: 14px;
	color: #a4a4a4;
	height: 35px;
	line-height: 35px;
}
@media screen and (max-width: 600px) {
	.footer{
		height: auto;
		width: 100%;
		min-width: auto;
		/* background: #fff; */
	}
	.footer-item{
		margin-right: 3px;
		margin-top: 20px;
		padding-bottom: 20px;
	}
	.footer-item img{
		width: 40px;
	}
	.footer-item div{
		font-size: 12px;
	}
	.footer-item a{
		font-size: 11px;
	}
	.footer-right{
		margin-top: 0;
		float: left;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}

/* 搜索商品页 */
.crumb{
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	color: #666;
}
.sort-box{
	overflow: hidden;
}
.sort-index{
	float: left;
	width: 200px;
	font-size: 16px;
}
.sort-title{
	height: 40px;
	line-height: 40px;
	background: #efefef;
	color: #333;
	text-align: center;
	    font-size: 16px;
}
.sort-item-title{
	color: #d52121;
	/* border-left: 1px solid #d52121; */
	position: relative;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
}

.sort-item-title::after{
	position: absolute;
	top: 7px;
	left: 0;
	height: 16px;
	width: 2px;
	content: '';
	background: #d52121;
	
}
.sort-item-text{
	height: 40px;
}
.sort-item-text a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	border-bottom: 1px solid #eee;
	color: #333333;
	cursor: pointer;
	padding-left: 7px;
}
.sort-item-text.active a{
	background-image: linear-gradient(to right, #d52121, #f8ecec);
	color: #fff;
	font-weight: bold;
}

.sort-goods{
	margin-left: 40px;
	width: 960px;
	float: left;
}
.search-title{
	/* position: relative; */
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 10px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.sort-line{
	flex: 1;
	margin-left: 20px;
    height: 1px;
	background: #cfcfcf;
}
.sort-goods-list{
	overflow: hidden;
}
@media screen and (max-width: 600px) {
    .sort-index{
    	float: none;
    	width: 100%;
    	font-size: 16px;
    }
	.sort-body{
		/* padding-left: 10px; */
	}
	.sort-item{
		overflow: hidden;
	}
	.sort-item-text{
		width: 25%;
		float: left;
		margin-right: 5%;
	}
	.sort-goods{
		margin-left: 0;
		width: 100%;
		float: left;
	}
}
@media screen and (min-width: 600px) {
	.allbrands .brand-item{
		width: 150px;
		height: 90px;
		margin-right: 5px;
	}
	.allbrands .brand-item img{
		width: 150px;
		height: 90px;
	}
}
.help-item{
	height: 45px;
	line-height: 45px;
	padding: 0 5px 0 15px;
	position: relative;
	color: #333;
	font-size: 14px;
	background: #f7f7f7;
	margin-top: 5px;
	cursor: pointer;
}
.help-item::before{
	position: absolute;
	content: '';
	background: #000;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 50%;
	left: 5px;
	margin-top: -2px;
	
}
.help-item .icon{
	float: right;
	margin-top: 10px;
	font-size: 20px;
	    color: #a1a1a1;
}
.article-item{
	margin-bottom: 20px;
}
.article-title{
	vertical-align: middle;
}
.article-title img{
	display: inline-block;
	width: 30px;
	height: 25px;
}
.article-title-txt{
	font-size: 18px;
	font-weight: bold;
}
.article-content{
	font-size: 14px;
	color: #666;
	line-height: 25px;
	background: #f5f5f5;
	padding: 20px 10px;
	margin-top: 10px;
}
.ar-link{
	color: #000;
	font-size: 14px;
	margin-right: 10px;
}
.ar-link .mui-icon{
	font-size: 20px;
	vertical-align: bottom;
}
.art-tit{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #999;
}
.desc-txt{
	font-size: 16px;
	line-height: 34px;
	padding: 30px 0;
}
.relate{
  margin-top: 30px;
}
.relate-title{
	font-weight: bold;
}
.relate ul{
	padding-left: 20px;
	color: #000;
}
.relate ul a{
	color: #000;
	display: inline-block;
    width: 100%;
}
.desc-title{
	font-size: 22px;
	margin-bottom: 20px;
}
.desc-code{
	padding: 30px 0;
	text-align: center;
	background: #f6f6f6;
	margin-bottom: 30px;
}
.desc-code img{
	width: 146px;
	height: 146px;
}
.desc-code p{
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 0;
	color: #ca1f1f;
	font-weight: bold;
}
@media screen and (min-width: 600px) {
	.brands .brand-list{
		font-size: 0;
		border: 1px solid lightgray;
		box-sizing: border-box;
		margin-bottom: 60px;
	}
	.brands .brand-item{
		width: 136.8px;
		height: 80px;
		margin-right: 0px;
		margin-bottom: 0;
		font-size: 0;
	}
	.brands .brand-item img{
		width: 137px;
		height: 80px;
	}
	.brands .que-item{
		width: 236.25px;
	}
	.brands .que-item:nth-child(4n){
		margin-right: 0;
	}
}

.des-swiper{
	width: 100px;
	height:360px;
	overflow: hidden;
	display: inline-block;
}
.des-wrapper{
	position: relative;
	margin-top: 50px;
	    white-space: nowrap;
		padding-bottom: 80px;
}
.des-swiper .swiper-slide{
	height: 78px!important;
	box-sizing: border-box;
}
.des-swiper .swiper-slide img{
	width: 100%;
	height: 76px;
}
.des-wrapper .des-prev{
	top: -18px;
	left: 35px;
	width: 30px;
	height: 30px;
	/* margin-left: -15px; */
	transform: rotate(90deg);
	background: #4b4b4b;
	color: #ddd;
}
.des-wrapper .des-prev::after,.des-wrapper .des-next::after{
	font-size: 15px;
}
.des-wrapper .des-next{
	/* top: auto;
	bottom: -30px; */
	top: 390px;
    /* z-index: 100; */
    left: 35px;
	width: 30px;
	height: 30px;
	/* margin-left: -15px; */
	transform: rotate(90deg);
	background: #4b4b4b;
	color: #ddd;
}
.des-wrapper .swiper-slide-active{
	border: 1px solid #ddd;
}
.big-img{
    display: inline-block;
    width: 430px;
    height: 430px;
    background: #fff;
    vertical-align: top;
    margin-left: 15px;
    margin-top: -40px;
}
.big-img img{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.des-goodsinfo{
	display: inline-block;
	width: 600px;
	vertical-align: top;
	margin-top: -30px;
	    margin-left: 14px;
}
.goods-title{
	font-size: 24px;
	color: #252525;
	font-weight: bold;
	    line-height: 35px;
}
.goods-num{
	font-size: 18px;
	color: #252525;
	line-height: 35px;
}
.goods-price{
	font-size: 18px;
	color: #252525;
	line-height: 35px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 10px;
}
.goods-price span{
	color: #d42020;
}
.goods-price .m{
	font-size: 12px;
}
.goods-brand,.goods-ks,.goods-zj,.goods-jx{
	font-size: 14px;
	color: #666;
	line-height: 36px;
}
.goods-jx{
	/* padding-bottom: 10px; */
	margin-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}
.goods-qrcode{
	vertical-align: middle;
}
.goods-qrcode span{
	display: block;
}
.goods-qrcode img{
	width: 135px;
	height: 135px;
	vertical-align: middle;
}
.qr-txt{
	vertical-align: middle;
	color: #ca1f1f;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
}
.goods-nav-wrapper{
	padding: 45px 0;
	background: #f6f6f6;
}
.goods-nav-box{
    height: 50px;
	line-height: 50px;
	display: inline-block;
	color: #666666;
	font-size: 18px;
	margin-right: 30px;
}
.goods-nav-box.active{
    border-bottom: 2px solid #000;
	color: #000;
}

.con-pic-title{
	position: relative;
	font-size: 16px;
	margin: 15px 0 15px 9px;
	font-weight: bold;
}
.con-pic-title::before{
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: -10px;
	content: '';
	background: #000;
	width: 3px;
	
}
.con-title{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin: 10px 0 20px;
}
.goods-content{
	padding: 20px 0;
	display: none;
}
.goods-content.active{
	display: block;
}
.con-txt{
	font-size: 16px;
	line-height: 30px;
	color: #333;
}
.con-pic img{
	max-width: 100%;
}
.video-box{
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
.sell-before,.sell-before p{
	color: #333;
	font-size: 16px;
	line-height: 30px;
}
.sell-title{
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0;
}
.goods-content  ul{
	padding-left: 0;
	    color: #333;
    font-size: 16px;
    line-height: 30px;
}
.goods-content .relate li{
	background: #eee;
    margin-bottom: 5px;
    position: relative;
    list-style: none;
    padding-left: 20px;
	    padding-top: 5px;
    padding-bottom: 5px;
}
.goods-content .relate li::before{
	    position: absolute;
    content: '';
    left: 6px;
    top: 18px;
    bottom: 3px;
    background: #000;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.slink{
	color: #cf1b1b;
	font-size: 16px;
	font-weight: bold;
}
.tips-box p{
	color: #333;
	line-height: 25px;
	    font-size: 16px;
		margin-bottom: 15px;
}
.goods-body .brand-title{
	font-size: 22px;
	font-weight: bold;
}
.mobile-wrapper{
	display: none;
}
@media screen and (max-width: 600px) {
    .mobile-wrapper{
    	display: block;
    }
	.mobile-wrapper img{
		display: block;
		margin: 8px auto;
		max-width: 100%;
		
	}
	.des-prev,.des-next,.des-swiper,.big-img{
		display: none;
	}
	.goods-title,.goods-num,.goods-price{
		font-size: 16px;
	}
	.video-box video{
		max-width: 100%;
		max-height: 300px;
	}
	
}
a{
   color: initial;
}